@import '../shared/variables';

#footer {
    border-top: 1px solid $color-light-grey;
}
.footer {
    &-links {
        display: flex;
        gap: $gap-default;
        padding: $padding-default;
        justify-content: center;
        flex-wrap: wrap;
    }

    &-link {
        text-decoration: none;
        color: $color-text;
        font-weight: 600;
    }

    &-logo {
        width: fit-content;
        margin: auto;
        padding: $padding-default 0;
    }

    &-copy {
        padding: $padding-default 0;
        text-align: center;
        color: $color-text-lighter;
    }
}

@import './footer.reponsive';