
@import '../../shared/variables';

.download-card {
    max-width: 390px;
    padding: 32px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    border-radius: 28px;
    background-color: rgba(#008D5A, 20%);
    border: 1px solid #008D5A;

    &-release-date {
        padding: 4px 12px;
        width: fit-content;
        background-color: rgba(white, 10%);
        border-radius: 8px;
    }

    &-version {
        font-size: 18px;
        font-weight: 900;
    }
}
