@import '../../shared/variables';

.landing {
    padding: 64px 16px;
    padding-top: 128px;
    display: flex;
    justify-content: start;
    align-items: center;

    .content {
        h1 {
            font-size: 42px;
            font-weight: 900;
            letter-spacing: 1px;
            margin: 0;
        }
        p {
            font-size: 18px;
        }
    }
    
    .landing-content {
        padding: 72px;
        border-radius: 32px;
        background: linear-gradient(45deg, #111, #001, #021);
        border: 1px solid #333;
        box-sizing: border-box;
    }
}

@import './landing.responsive';