@import '../shared/extendables';

#landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap-default;
    cursor: pointer;
    box-sizing: border-box;
}

.landing {
    &-header {
        @extend .text-gradient;
        font-size: 56px;
        font-weight: 500;
    }

    &-description {
        padding: $padding-small 0;
    }
}