@import './variables';
img {
    display: flex;
}

.section-header {
    font-size: 32px;
    font-weight: 400;
    width: fit-content;
    padding: 16px 0;
}

.section-body {
    padding: 16px 0;
}

.text-white {
    color: white;
}

.padding-y-small {
    padding: 12px 0px;
}

.text-center {
    text-align: center;
}

.ul {
    margin: 0;

    li {
        padding: 8px 0;
    }
}

.text-gradient {
    background: linear-gradient(to right, $color-primary, $color-secondary,white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section {
    padding-right: 16px;
    padding-left: 16px;
}

h2 {
    font-weight: 400;
    font-size: 28px;
}

p {
    font-weight: 300;
}

code {
    color: white;
    background-color: rgba(black, 10%);
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;
    border: 1px solid rgba(white, 10%);
    width: 100%;
    box-sizing: border-box;
    display: block;
    word-break:break-all;
}

.br {
    display: block;
    height: 8px;
}

.tab {
    display: inline;
    padding: 0 8px;
}

.p-x-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.invert {
    filter: invert(1);
}