@import './variables';

html {
    font-size: 16px;
    font-family: primary, Arial, Helvetica, sans-serif;
    background-color: $color-primary-bg-light;
    scroll-behavior: smooth;
    word-break: break-word;
    color: $color-text;
    font-display: swap;
    font-weight: 400;
    
    button, select, option {
        font-family: primary;
    }
}

body {
    margin: 0;
}