$color-primary: #5555FF;
$color-secondary: #2CD196;

$primary-gradient: linear-gradient(to right, $color-primary, $color-secondary);

$container-max-width: 1600px;

$phone-max: 579px;
$phone-lg-min: 580px;
$phone-lg-max: 767px;
$tablet-min: 767px;
$tablet-max: 991px;
$laptop-min: 992px;
$laptop-max: 1119px;
$desktop-min: 1200px;