
@import '../shared/variables';

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: $padding-smaller $padding-default;
    border: 1px solid $color-light-grey;
    z-index: 3;
    background-color: rgba($color-primary-bg-light, .8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 2px 8px rgba(black, 3%);
    box-sizing: border-box;

    .container {
        padding: 0;
    }

    &-content {
        display: flex;
        align-items: center;
    }

    &-links {
        display: flex;
        gap: $gap-small;
        padding: 0 $padding-default;
    }

    &-link {
        display: block;
        text-decoration: none;
        color: $color-text-light;
        padding: $padding-small $padding-default;
        border-radius: $border-radius-default;
        transition: ease-in-out 150ms;
        font-size: 13px;
        font-weight: 600;

        &:hover {
            background: $primary-gradient;
            color: white;
        }
    }
    
    &-menu {
        display: none;
    }
}

@import './nav.responsive';