@import '../shared/variables';

@media screen and (max-width: $tablet-max) {      
    .nav {

        &-links {
            display: none;
            gap: $gap-small;
            padding: 0 $padding-default;
        }
        
        &-menu {
            display: block;
        }

        &-content {
            justify-content: space-between;
        }
    }
}