.type-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.type-card {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgba(#6C2FBC, 10%);
    border-radius: 28px;
    border: 1px solid rgba(#6C2FBC, 50%);
}