.type-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.type-card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgba(#6C2FBC, 25%);
    border-radius: 16px;
    border: 1px solid #6C2FBC;
}