@import '../shared/variables';

.why-use-cards {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-default;
    justify-content: center;
}

.why-use {
    &-card {    
        padding: $padding-default;
        border-radius: $border-radius-default;
        background-color: rgba(white, 5%);
        color: white;
        justify-content: center;
        text-align: center;
        width: calc(100% / 4 - 16px + 4px); //$gap-default * 3 == 3 gap spaces
        box-sizing: border-box;

        &-icon {
            width: fit-content;
            margin: auto;
            padding: $padding-small;
        }

        &-text {
            padding: $padding-small 0;
        }
    }
}

@import './why-use.responsive';