.attr-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.attr-card {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 28px;
    background-color: #1a1a1a;
    border: 1px solid #222;
    
    &-full-name {
        background-color: $color-primary;
        padding: 4px;
        border-radius: 8px;
        width: fit-content;
    }
}