@import '../../shared/variables';

.use-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.use-card {
    padding: 32px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #1F1F1F;

    &-title {
        font-size: 18px;
        font-weight: 700;
    }

    &-desc {
        font-size: 14px;
    }
}

@import './why-use.responsive';